stm_key.py
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

mnt/docker-volumes/
**/logs/
**/state/
**/flowfile_repository/
**/content_repository/
**/provenance_repository/
**/database_repository/

.DS_Store
.env
