version: '3.6'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - '2181:2181'
    networks:
      - elk

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - elk
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:9092"]
      interval: 10s
      timeout: 10s
      retries: 10

  Elasticsearch:
    image: elasticsearch:7.16.2
    container_name: elasticsearch
    restart: always
    volumes:
      - /mnt/docker-volumes/elastic_data:/usr/share/elasticsearch/data/
    environment:
      environment:
      ES_JAVA_OPTS: "-Xmx2g -Xms2g"
      discovery.type: single-node    
    ports:
      - '9200:9200'
      - '9300:9300'
    networks:
      - elk

  Logstash:
    image: logstash:7.16.2
    container_name: logstash
    restart: always
    volumes:
      - ./logstash/:/logstash_dir
    command: logstash -f /logstash_dir/logstash.conf
    depends_on:
      - Elasticsearch
    ports:
      - '9600:9600'
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk

  Kibana:
    image: kibana:7.16.2
    container_name: kibana
    restart: always
    # Remap 5601 -> 54321
    ports:
      - '54321:5601'
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - Elasticsearch
    networks:
      - elk
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601/api/status"]
      interval: 10s
      timeout: 5s
      retries: 10

  Conf:
    image: python:3.9
    container_name: conf
    volumes:
      - ./conf:/conf
    entrypoint: ["bash", "/conf/configure.sh"]
    restart: "no"
    networks:
      - elk
    depends_on:
      Kibana:
        condition: service_healthy

  test:
    build:
      context: ./tests
    container_name: test
    depends_on:
      - kafka
    volumes:
      - ./tests:/app/tests
    restart: "no"
    networks:
      - elk

  my-fastapi-app:
    build:
      context: ./my-fastapi-app
    container_name: my-fastapi-app
    # Remap 8000 -> 54322
    ports:
      - '54322:8000'
    depends_on:
      Kibana:
        condition: service_healthy
    volumes:
      - ./my-fastapi-app:/app
    networks:
      - elk

  process_raw_to_cleaned_bus:
    build:
      context: ./process_raw_to_cleaned_bus
    container_name: process_raw_to_cleaned_bus
    depends_on:
      - my-fastapi-app
    volumes:
      - ./process_raw_to_cleaned_bus:/app
    networks:
      - elk

  process_raw_to_cleaned_stops:
    build:
      context: ./process_raw_to_cleaned_stops
    container_name: process_raw_to_cleaned_stops
    depends_on:
      - my-fastapi-app
    volumes:
      - ./process_raw_to_cleaned_stops:/app
    networks:
      - elk

  process_raw_to_cleaned_vans:
    build:
      context: ./process_raw_to_cleaned_vans
    container_name: process_raw_to_cleaned_vans
    depends_on:
      - my-fastapi-app
    volumes:
      - ./process_raw_to_cleaned_vans:/app
    networks:
      - elk
      
volumes:
  elastic_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/docker-volumes/elastic_data

networks:
  elk:
